.author_image {
    margin-top: 15px;
    width: 90%;
}
.author_image img {
    width: 100%;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
}
h3 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 2px 2px #000000;
    margin-top: 5px;
}
h3:first-child {
    margin-top: 20px;
}
table {
    user-select: none;
}
table tr td {
    font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    padding: 3px;
    border-bottom: 1px dashed #ffffff;
}
table tr:first-child td {
    border-top: 1px dashed #ffffff;
}
table tr td:first-child {
    width: 30%;
    text-decoration: underline;
}
table tr td:last-child {
    width: 70%;
    padding-left: 10px;
    border-left: 2px dashed #ffffff;
}
.hover {
    background-color: rgba(0, 0, 0, 0.4);
}
